{% extends "base.html" %}
{% block title %}<title>ChartPage</title>{% endblock %}
{% block scripts %}
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
{% endblock %}
{% block page_content %}


<div id="content-wrapper">
	<div id="current_page">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active"><a href="/">Home</a></li>
			<li class="breadcrumb-item active"><a href="/tableviews/charts/">Charts</a></li>
		</ol>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
						Bar Chart
					</div>
					<div class="card-body">
						<div id="bar">
							{{ barchart|safe }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
						Line Chart
					</div>
					<div class="card-body">
						<div id="line">
							{{ linechart|safe }}
						</div>
					</div>
					    <script>
        var lchart = eval({{linechartid}})


    </script>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(procForm) }}

</div>

<button class="btn btn-primary" id="getData">get newdata</button>

<button class="btn btn-primary" id="stopData">stop data</button>
{% endblock %}

{% block script_bot %}
{{ super() }}
lchart = eval({{ linechartid }})
bchart = eval({{ barchartid }})
window.onresize = function () {
//重置容器高宽

lchart.resize();
bchart.resize();
};
<!-- 设置option内容 -->

<!-- 设置方法 -->
function getyaxis(){
    $.ajax({
        type:"GET",
		url:"http://127.0.0.1:5000/tableviews/testdata/",
		dataType:'json',
		success:function(result){
            datalen = result["data"].length;
            var vm_total = result["data"][0]["memo_total"];
            bchart.setOption({
                yAxis:[{
					min:0,
                    max:vm_total
				}]
            })
        }})}


function fetchData() {
	$.ajax({
		type:"GET",
		url:"http://127.0.0.1:5000/tableviews/testdata/",
		dataType:'json',
		success:function(result){
			var vm_datetime = new Array();
			var vm_percent = new Array();
			var vm_used = new Array();
			var vm_available = new Array();
			var vm_free = new Array();
			for (i=0; i<result["data"].length-1;i++ )
			{
				vm_datetime.push(result["data"][i]["datetime"]);
				vm_percent.push(result["data"][i]["memo_percent"]);
				vm_used.push(result["data"][i]["memo_used"]);
				vm_available.push(result["data"][i]["memo_available"]);
				vm_free.push(result["data"][i]["memo_free"]);
			}
			
			lchart.setOption({
				series:[{
					data:vm_percent
				}],
				xAxis:[{
					data:vm_datetime
				}]
			})  <!-- 这里结束了lchart的数据 -->
			bchart.setOption({
				series:[{
					name:"memo_used",
					data:vm_used
				},
				{
					name:"memo_available",
					data:vm_available
				},
				{
					name:"memo_free",
					data:vm_free,
				}],
				xAxis:[{
					data:vm_datetime
				}]
			})

		} <!-- success的部分 -->
	})
}

<!-- var autoupdate = self.startData(); -->
var autoID = 0;

window.onload = function(){
	autoID = setInterval(fetchData,1000);
    getyaxis();
}

$(function(){
	$("#getData").click(function(){
		autoID = setInterval(fetchData,1000)
	});
})

$(function(){
	$("#stopData").click(function(){
		clearInterval(autoID)
	})
})
{% endblock %}
