{% extends "base.html" %}
{% block title %}<title>ChartPage</title>{% endblock %}
{% block scripts %}
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
{% endblock %}
{% block page_content %}


<div id="content-wrapper">
	<div id="current_page">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active"><a href="/">Home</a></li>
			<li class="breadcrumb-item active"><a href="/tableviews/charts/">Charts</a></li>
		</ol>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
						System CPU and Memory Info
					</div>
					<div class="card-body">
						<div id="bar">
							{{ barchart|safe }}
						</div>
					</div>
					<div class="card-footer">
						<div class="container-fluid">
							<button class="btn btn-primary" id="getData"><i class="fa fa-cog fa-spin"></i>get newdata</button>

							<button class="btn btn-primary" id="stopData"><i class="fa fa-cog fa-spin"></i>stop data</button>
						</div>	
					</div>	
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<form method="POST">
							<div class="form-row" role="form">
								<div class="form-group col-mb-3">
									{{ procForm.processName.label }} :
								</div>
								<div class="form-group col-mb-3">
								 {{ procForm.processName(class="form-control") }}  
								</div> 
								<div class="form-group col-mb-3">
									{{ procForm.submit(class="btn btn-info") }}  
								</div>
							</div>
						</form>
					</div>
					<div class="card-body">
						<div id="line">
							{{ barchart2|safe }}
						</div>
					</div>
					<div class="card-footer">
						<div class="container-fluid">
							<button class="btn btn-primary" id="getData2"><i class="fa fa-cog fa-spin"></i>get newdata</button>
							<button class="btn btn-primary" id="stopData2"><i class="fa fa-cog fa-spin"></i>stop data</button>
						</div>	
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
//--------------------------------------------------------------------------
{% block script_bot %}
{{ super() }}
// lchart = eval({{ linechartid }})
bchart = eval({{ barchartid }})
bchart2 = eval({{ barchart2id }})
window.onresize = function () {
//重置容器高宽

// lchart.resize();
bchart.resize();
bchart2.resize();
};
<!-- 设置option内容 -->

<!-- 设置方法 -->
//进入页面获取内存总量
function getyaxis(){
    $.ajax({
        type:"GET",
		url:"/ajaxdata/testdata/",
		dataType:'json',
		success:function(result){
            datalen = result["data"].length;
            var vm_total = result["data"][0]["memo_total"];
            bchart.setOption({
                yAxis:[{
					min:0,
                    max:vm_total
				}]
            })
        }})}

//定时更新数据
function fetchData() {
	$.ajax({
		type:"GET",
		url:"/ajaxdata/testdata/",
		dataType:'json',
		success:function(result){
			var vm_datetime = new Array();
			var vm_percent = new Array();
			var vm_used = new Array();
			var vm_available = new Array();
			var cpu_percent = new Array();
 			// var vm_free = new Array();
			for (i=0; i<result["data"].length-1; i++ )
			{
				vm_datetime.push(result["data"][i]["datetime"]);
				vm_percent.push(result["data"][i]["memo_percent"]);
				vm_used.push(result["data"][i]["memo_used"]);
				vm_available.push(result["data"][i]["memo_available"]);
				cpu_percent.push(result["data"][i]["cpu_percent"])
				<!-- vm_free.push(result["data"][i]["memo_free"]); -->
			}
			
 		// 	lchart.setOption({
			// 	series:[{
			// 		data:vm_percent
			// 	}],
			// 	xAxis:[{
			// 		data:vm_datetime
			// 	}]
			// }) <!-- 这里结束了lchart的数据 -->
			bchart.setOption({
				series:[{
					name:"memo_used",
					data:vm_used
				},
				{
					name:"memo_available",
					data:vm_available
				},
				{
					name:"memory percent",
					type:"line",
					data:vm_percent,
					yAxisIndex:1
				},
				{
					name:"cpu percent",
					type:"line",
					data:cpu_percent,
					yAxisIndex:1,
					label:{
					position:"top"	
					}
				}],
				xAxis:[{
					data:vm_datetime
				}]
			})

		} <!-- success的部分 -->
	})
}

<!-- var autoupdate = self.startData(); -->
var autoID = 0;
var processAjaxId = 0;

window.onload = function(){
	autoID = setInterval(fetchData,1000);
    getyaxis();
}

$(function(){
	$("#getData").click(function(){
		autoID = setInterval(fetchData,1000)
	});
})

$(function(){
	$("#stopData").click(function(){
		clearInterval(autoID)
	})
})


function fetchProcessData() {
	$.ajax({
		type:"GET",
		url:"/ajaxdata/processData/",
		dataType:'json',
		success:function(result){
			var proc_datetime = new Array();
			var porc_memo_rss = new Array();
			var proc_memo_percent = new Array();
			var proc_cpu_percent = new Array();
			for (i=0; i<result["data"].length-1; i++ )
			{
				proc_datetime.push(result["data"][i]["datetime"]);
				porc_memo_rss.push(result["data"][i]["memo_used"]);
				proc_memo_percent.push(result["data"][i]["memo_percent"]);
				proc_cpu_percent.push(result["data"][i]["cpu_percent"]);
			}
			bchart2.setOption({
				series:[
				{
					name:"proc_memo_percent",
					type:"line",
					data:proc_memo_percent,
					yAxisIndex:1
				},
				{
					name:"proc_cpu_percent",
					type:"line",
					data:proc_cpu_percent,
					yAxisIndex:1,
					label:{
					position:"top"	
					}
				},
				{
					name:"porc_memo_rss",
					data:porc_memo_rss
				}],
				xAxis:[{
					data:proc_datetime
				}]
			})

		} <!-- success的部分 -->
	})
}





$(function(){
	$("#submit").click(function(){
		try{
			clearInterval(processAjaxId);
		}
		finally
		{
			processAjaxId = setInterval(fetchProcessData,1000)
		}
		
		
	});
})


{% endblock %}
