{% extends "base.html" %}
{% block title %}<title>ChartPage</title>{% endblock %}

{% block page_content %}


<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        this is heading
                    </div>
                    <div class="card-body">
                        <div id="bar">
                            {{ c|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        this is heading
                    </div>
                    <div class="card-body">
                        <div id="bar">
                            {{ linechart|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script_bot %}
{{ super() }}
    window.onresize = function () {
    //重置容器高宽
    linechart.resize();
    };
{% endblock %}

