{% extends "base.html" %}
{% block title %}<title>ProcessPage</title>{% endblock %}
{% block scripts %}
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
{% endblock %}
{% block page_content %}


<div id="content-wrapper">
	<div id="current_page">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active"><a href="/">Home</a></li>
			<li class="breadcrumb-item active"><a href="/tableviews/oneProcess/">oneProcess</a></li>
		</ol>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
						Bar Chart
					</div>
					<div class="card-body">
						<div id="bar">
							{{ barchart2|safe }}
						</div>
					</div>
					<div class="card-footer">
						<div class="container-fluid">
							<button class="btn btn-primary" id="getData"><i class="fa fa-cog fa-spin"></i>get newdata</button>

							<button class="btn btn-primary" id="stopData"><i class="fa fa-cog fa-spin"></i>stop data</button>
						</div>	
					</div>	
				</div>
			</div>
		</div>
		<br/>
	</div>
</div>
<div class="container">
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(procForm) }}
</div>
{% endblock %}
//--------------------------------------------------------------------------

{% block script_bot %}
{{ super() }}
bchart2 = eval({{ barchart2id }})

function fetchProcessData() {
	$.ajax({
		type:"GET",
		url:"/ajaxdata/processData/",
		dataType:'json',
		success:function(result){
			var proc_datetime = new Array();
			var porc_memo_rss = new Array();
			var proc_memo_percent = new Array();
			var proc_cpu_percent = new Array();
			for (i=0; i<result["data"].length-1; i++ )
			{
				proc_datetime.push(result["data"][i]["datetime"]);
				porc_memo_rss.push(result["data"][i]["memo_used"]);
				proc_memo_percent.push(result["data"][i]["memo_percent"]);
				proc_cpu_percent.push(result["data"][i]["cpu_percent"]);
			}
			bchart2.setOption({
				series:[
				{
					name:"proc_memo_percent",
					type:"bar",
					data:proc_memo_percent,
					yAxisIndex:1
				},
				{
					name:"proc_cpu_percent",
					type:"line",
					data:proc_cpu_percent,
					yAxisIndex:1,
					label:{
					position:"top"	
					}
				},
				{
					name:"porc_memo_rss",
					data:porc_memo_rss
				}],
				xAxis:[{
					data:proc_datetime
				}]
			})

		} <!-- success的部分 -->
	})
}





$(function(){
	$("#getData").click(function(){
		processAjaxId = setInterval(fetchProcessData,1000)
	});
})
{% endblock %}