{% extends "base.html" %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block title %}
<title>Tables</title>
{% endblock %}
{% block styles %}
<link href="../static/css/styless.css" rel="stylesheet" type="text/css"/>
{{super()}}
{% endblock %}
{% block navibar %}
	{{ super() }}
{% endblock %}

{% block page_content %}
		<div id="current_page">
			<ol class="breadcrumb">
	  <li class="breadcrumb-item active"><a href="/">Home</a></li>
	  <li class="breadcrumb-item active"><a href="/tableviews/queryData/">Table</a></li>
	</ol>
		</div>
<div class="container">
			<table class="table table-striped ">
				<thead>
					<tr>
						{% for i in columnNameList %}
                            <th>{{i|string()}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
 {% for line in queryItems %}
                        <tr>
                            {% for i in columnNameList %}
                            <td>{{line[i|string()]}}</td>
                            {% endfor %}
                         <tr>
                    {% endfor %}
				</tbody>
			</table>
	</div>
<div class="container">
</div>

<div class="page-footer">
{{ taskpagenation.iter_pages() }}
</div>






{% endblock %}

