{% extends "base.html" %}
{% block title %}IndexPageTest{% endblock %}
{% block styles %}
<link href="../static/css/styless.css" rel="stylesheet" type="text/css"/>
{{super()}}
{% endblock %}
{% block navibar %}
	{{ super() }}
{% endblock %}

{% block page_content %}


<div class="jumbotron">
	<div class="container">
		<h1>九思易测试部测试性能用页面V0.1</h1>
		<p>该网页用于读取数据库内存数据后，对内存、InRun、InStudio等数据进行展示</p>
		<p><a class="btn btn-primary btn-lg" role="button">
			还不知道干嘛用</a>
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 column">
			<h2>查询时间范围</h2>
			{% import "bootstrap/wtf.html" as wtf %}
			{{ wtf.quick_form(form) }}
		</div>
		<div class="col-md-6 column">
			<h2>连接数据库</h2>
            {{ wtf.quick_form(dbform) }}
		</div>
	</div>
</div>
{% endblock %}

